/*Chrome for Android Debugging*/
/*https://developer.chrome.com/devtools/docs/remote-debugging*/

body {
  font-family: Roboto, sans-serif;
  background: #fff;
}

/*Start of Spinner Code*/
#spinner-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 5;
  background: #091175;
       -o-transition: .5s;
      -ms-transition: .5s;
     -moz-transition: .5s;
  -webkit-transition: .5s;
          transition: .5s;
}

.spinner {
  width: 25vw;
  height: 25vw;
  text-align: center;
  font-size: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner > div {
  background-color: #fff;
  width: 25vw;
  height: 25vw;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*End of Spinner Code*/
/*http://tobiasahlin.com/spinkit/*/

#map-overlay {
  height: 33vh;
  width: 100%;
  position: absolute;
  -webkit-box-shadow: inset 0px -36px 36px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: inset 0px -36px 36px 0px rgba(0,0,0,0.75);
      box-shadow: inset 0px -36px 36px 0px rgba(0,0,0,0.75);
  z-index: 2;
}

#map-overlay h2 {
  position: absolute;
  bottom: 0;
  font-weight: 300;
  font-size: 36px;
  color: #fff;
  margin: auto;
  left:0;
  right:0;
}

#map-canvas {
  height: 33vh;
  margin: 0;
  padding: 0;
}

#content {
  margin-top: 12px;
}

#content>span {
  font-weight: 700;
  font-size: 30px;
  color: #091175;
  margin-bottom: 0;
}

.noMargin {
  margin: 0 !important;
}

.title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0;
  margin: 0;
}

.star {
  color: #616161;
}

.goldStar {
  color: #FFC400;
}

#stats>div {
  float: right;
}

#stats span {
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
}

#deets p {
  font-size: 14px;
  margin: 0;
}

#navigate {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #3F51B5;
  text-align: center;
  display: flex;
}

#navigate span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin: 12px auto;
}

#navigate:hover {
       -o-transition: .5s;
      -ms-transition: .5s;
     -moz-transition: .5s;
  -webkit-transition: .5s;
          transition: .5s;
  text-decoration: none;
  background: #5C6BC0;
}